@import '/src/app/scss/variables.scss';

.form-control:focus {
    box-shadow: none;
}
#search_field{
    padding: .5rem;
    background: var(--card-bg);
    border-radius: 8px;
    .form-control{
        border: 0;
        height: 45px;
        background-color: transparent;
        color: var(--text-color);
    }
    button{
        border-radius: 8px;
    }
}